@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,800;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.header #navbar {
    background: #FFFFFA;
    height: 72px;
    width: 100%;
    position: fixed;
    opacity: 0.5;
}

.header #navbar .container .logo {
    color: black;
    font-style: normal;
    font-size: 64px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: 800;
}

.header #navbar .container ul{
    float: right;
    margin-right: 20px;
}

.header #navbar .container ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

.header #navbar .container ul li a{
    color: black;
    font-size: 22px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active, a:hover{
    background:#BCBCBA, 100%;
    transition: .5s;
}
.hero .heroContainer .texts{
    display: flexbox;
    position: absolute;
    margin-top: 500px;
    margin-left: 120px;

}

.hero .heroContainer .text1 {
    font-size: 48px;
    font-weight: 400;
    color: #FFFFFA
}

.hero .heroContainer .text2 {
    font-size: 72px;
    font-weight: 600;
    color: #FF7200;
}

.hero .heroContainer img {
    width: 100%;
    height: 50%;
}

.hero .heroContainer .square img{
    position: absolute;
    margin-top: 400px;
    margin-left: 60%;
    width: 20%;
    height: 0;
    padding-top: 20%;
    background: url("/images/DSC00845.JPG") no-repeat center;
    background-size: 560px;
    border-radius: 40%;
}

